<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{css}}">
</head>
<body>
    <h1 class="title">{{> header}}</h1>
    <h2 class="mini_title">About me</h2>

    <div class="information">
        <p>My name is Jimmy Truong</p>
        <p>Age is 23</p>
        <p>Single</p>
        <p>favourite food is sushi</p>

        <input type="button" value="Click to Go Back" onclick="history.back()">
    </div>

</body>

    {{> footer}}

<!--<footer>-->
    <!--<p>Copyright year</p>-->
<!--</footer>-->
</html>