<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{css}}">
    </head>
    <body>
        <h1 class="title">{{> header}}</h1>

        <div class="information">
            <h3>Error Page: 500</h3>
            <br>
            {{> back_button}}
        </div>


    </body>
    {{> footer}}
</html>