<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{header}}</title>
    <!--<link rel="stylesheet" href="css.css">-->
    <link rel="stylesheet" href="{{css}}">
</head>
<body>
    <h1 class="title">{{> header}}</h1>
    <h2 class="mini_title">Welcome to the site</h2>

    <div class="information">
        <p>Please, click on the following</p>

        <a href="info">About Me</a>
        <br>
        <br>
        <a href="currency">Currency</a>
    </div>

    <!--<br>-->
    <!--<br>-->
    <!--<a href="kakashi">Kakashi Pic</a>-->

</body>

{{> footer}}

</html>